.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarContainer p {
  font-size: 20px;
}

.navbarContainer input {
  padding: 2px 8px;
  border-radius: 5px;
  border: none;
}